<%# Content Heading
	Use the page's title as the heading 
	or redirect back to the home page. %>

<% if (title) { %>
<h1><%= title %></h1>
<% } else {
	res.redirect('/')
} %>

<%# Display flash messages, if any are present %>
<%- messages() %>

<form method="post" id="account-login">
	<fieldset>
		<label for="account_email">Email:</label>
		<input id="account_email" type="email" name="account_email" required>
		<label for="account_password">Password:</label>
		<input type="password" name="account_password" id="account_password"
			autocomplete="new-password" minlength="12" required
			patter="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
		<button type="submit">LOGIN</button>
		<p>No account? <a href="/account/register">Sign-up</a></p>
	</fieldset>
</form>