/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/******* Variables and Universals *******/
:root {
  --text-color: #1A1A1A;
  --text-accent-family: 'Times New Roman', Times, serif;
  --text-accent-color: #23D5D5;
  --text-family: Arial, Helvetica, sans-serif;
  --bg-color: #05063e;
  --error-color: #eb0000;
  --accent-color-2: #162c83;
  --text-accent-color-2: #9d9d9e;
}

* {
  font-family: var(--text-family);
  color: var(--text-color);
}

h1,
h2 {
  font-family: var(--text-accent-family);
}

#wrapper {
  padding: 1rem;
}

/******* Header *************************/
#top-header {
  display: flex;
  justify-content: space-between;
}

#top-header  a {
  /* font-family: var(--text-accent-family); */
  text-decoration: none;
  color: black;
}

#top-header .siteName {
  font-size: 3rem;
  font-weight: bold;
}
/******* Footer *************************/
#test-error-link {
  color: var(--error-color);
}

/******* Navigation Bar *****************/
 nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  background-color: var(--text-color);
  padding: 0;
}

 nav li {
  padding: 1rem;
}

 nav li a {
  /* font-family: var(--text-accent-family); */
  text-decoration: none;
  color: white;
}


/******* Index **************************/
.hero {
  position: relative;
}

.hero img {
  display: block;
  margin: 0 auto;
  width: auto;
  max-height: 300px;
}

.hero .hero-overlay {
  position: absolute;
  top: 0;
  background-color: #FFFFFF88;
}

.hero .hero-overlay h2,
.hero .hero-overlay p {
  color: var(--text-accent-color);
  margin: 0;
  font-weight: bold;
}

.hero .hero-overlay input {
  background-color: var(--text-accent-color);
  font-weight: bold;
  font-size: 1.25rem;
  padding: 0.5rem;
  border: 1px solid var(--text-accent-color);
  box-shadow: 0 0 3px var(--text-color);
  border-radius: 5px;
}

.hero .hero-overlay input:hover {
  box-shadow: inset 0 0 3px var(--text-color);
  background-color: #1ebcbc;
}

.reviews li {
  margin: 0.5rem 0;
}

.upgrades {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
}

.upgrades h2 {
  grid-column: 1/3;
}

figure {
  width: 95%;
  margin: 1rem auto;
}

.upgrades a div {
  margin: 0 1rem;
  padding: 1rem;
  border: 2px solid var(--text-color);
  background-color: var(--text-accent-color);
  height: 7rem;
}

.upgrades a img {
  display: block;
  margin: auto;
}

.upgrades a figcaption {
  text-align: center;
}
/******* Classification *****************/
#inv-display {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;
  list-style: none;
}

#inv-display li {
  border: 1px solid var(--text-color);
  border-radius: 1rem;
  overflow: hidden;
  width: 30%;
}

#inv-display a {
  display: block;
}

#inv-display img {
  width: 100%;
  border-radius: 0.25rem;
}

.namePrice h2 {
  margin: 0.25rem 0;
}

.namePrice a{
  text-align: center;
  color: var(--accent-color-2);
  text-decoration: none;
}

.namePrice span {
  display: block;
  text-align: center;
}

/******* Details ************************/
.vehicle-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.detail-table .highlighted {
  font-weight: bold;
  font-size: 1.15rem;
}

.detail-table div {
  padding: 0.5rem;
}

.detail-table div:not(:first-child) {
  padding-left: 1.5rem;
}

.detail-table div:nth-child(even) {
  background-color: lightgray;
}

/******* Login / Registration Forms *****/

form fieldset{
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-size: 1.15rem;
  border: 2px solid var(--bg-color);
  border-radius: 20px;
  padding: 1rem;
  background-color: var(--bg-color);
}

form label {
  color: white;
}

form input,
form select {
  margin-bottom: 0.5rem;
  height: 2rem;
  color: var(--text-color);
}

form button {
  max-width: 30%;
  margin: 0 auto;
  background-color: var(--text-accent-color);
  border-radius: 10px;
  padding: 0.25rem 1rem;
  font-weight: bolder;
  font-size: 1.15rem;
  color: var(--text-color);
}

form p {
  text-align: center;
  font-size: 1rem;
  color: white;
}

form a,
form h2 {
  color: white;
}

#password-reqs {
  color: var(--text-accent-color-2);
  font-size: 0.8rem;
}

#password-reqs ul {
  list-style: none;
  margin-top: 0;
}

#password-reqs li {
  color: var(--text-accent-color-2);
  font-size: 0.75rem;
}

/******* Large Screen Modifiers *********/
@media only screen and (min-width: 800px) {
  body {
    background-image: url('../images/site/checkerboard.jpg');
  }

  #wrapper {
    background-color: white;
    max-width: 1000px;
    width: 90%;
    margin: 1rem auto;
    border: 3px solid var(--text-accent-color);
    border-radius: 15px;
  }

  #detail-wrapper {
    display: flex;
    flex-direction: row-reverse;
  }

  .vehicle-details {
    flex-direction: row;
  }
}